*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom properties */
:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #FCF7F3;
    --clr-dark: #0F1A2B;
    --clr-dark-midnight: #1C2E4A;
    --clr-accent: #E3C9A4;

    --fs-h1: 2.75rem;
    --fs-h2: 2.2rem;
    --fs-h3: 2rem;
    --fs-h4: 1.35rem;
    --fs-body: 1.2rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);

}

@media (min-width: 800px) {
    :root {
        --fs-h1: 3.75rem;
        --fs-h2: 3.25rem;
        --fs-h3: 2.5rem;
        --fs-h4: 1.5rem;
        --fs-h5: 1.25rem;
        --fs-body: 1.125rem;
    }
}

/* General styles */

html {
    scroll-behavior: smooth;
}
body {
    background: var(--clr-dark);
    color: var(--clr-light);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    overflow-x: hidden;
}
section {
    padding: 2em 1.3em;
}
.intro-img, .project-intro-img {
    display: block;
    max-width: 300px;
    border-radius: 50%;
    border-right: 6px solid var(--clr-accent);
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.2);
    margin: 2em auto;
    padding: 8px;
    opacity: 0.8;
}
strong {
    font-weight: var(--fw-bold);
}
.btn {
    display: inline-block;
    padding: .3em 1em;
    color: var(--clr-light);
    text-decoration: none;
    cursor: pointer;
    border-radius: 1em;
    border-bottom: 3px solid var(--clr-accent);
    font-size: .9rem;
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transition: 200ms ease-in-out;
}

/* Typography */
h1, h2, h3 {
    line-height: 1.1;
    margin: 0;
}
h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

.section-title {    
    margin-bottom: .25em;
}

.intro .section-title {
    font-weight: var(--fw-reg);
}
.section-title-intro {
    display: flex;
    flex-direction: column;
}

.section-subtitle {    
    margin: 0;
    font-size: var(--fs-h4);
    border-radius: 1em;
}
.section-subtitle-intro {
    font-family: var(--ff-secondary);
    padding: .25em .7em;
    margin-bottom: 1em;
    text-align: center;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    padding: .1em;
}
.nav {
    position: fixed;
    background-color: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 450ms cubic-bezier(.5, 0, .5, 1);
}
.nav-list {
    list-style-type: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}
.nav-link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
    text-decoration: none;
}
.nav-link:hover {
    color: var(--clr-accent);
}
.nav-toggle {
    padding: .8em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}
.nav-open .nav{
    transform: translateX(0);
}
.nav-open .nav-toggle {
    position: fixed;
}
.nav-open .hamburger {
    transform: rotate(.625turn);
}
.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-8.5px);
}
.nav-open .hamburger::after {
    opacity: 0;
}
.hamburger {
    display: block;
    position: relative;
}
.hamburger, .hamburger::before, .hamburger::after {
    background: var(--clr-accent);
    width: 2.4em;
    height: 4px;
    margin: .15em 0;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}
.hamburger::before, .hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before {top: 6px}
.hamburger::after {bottom: 6px}

@media (min-width: 900px) {
    .nav {
        position: absolute;
        bottom: unset;
        padding: 0.6em 4em 0.6em 0;
        transition: transform 600ms cubic-bezier(.5, 0, .5, 1);
    }
    .nav-open .nav-toggle {
        position: absolute;
    }
    .hamburger, .hamburger::before, .hamburger::after {
        width: 2em;
        transition: transform 400ms ease-in-out;
    }
    .nav-list {
        flex-direction: row;
        justify-content: end;
        column-gap: 1em;
        padding-bottom: 0.2em;
    }
    .nav-link {
        font-size: var(--fs-body);
    }
}

@media (min-width: 1200px) {
    .hamburger, .hamburger::before, .hamburger::after {
        width: 2.2em;
    }
    .nav-link {
        font-size: var(--fs-h5);
    }
}

/* Intro section */
.intro {
    position: relative;
    text-align: center;
    margin-top: 3em;
    overflow-x: hidden;
}
.section-subtitle-intro {
    display: inline-block; 
    color: var(--clr-accent);
}
.project-intro {
    font-weight: bold;
    color: var(--clr-accent);
    font-size: var(--fs-h3)
}

@media (min-width: 700px) {
    section {
        padding: 3em 0;
    }
    .intro {
        display: grid;
        margin: 2em auto 0;
        width: min-content;
        grid-template-areas: 
        "title img"
        "subtitle img";
        grid-template-columns: max-content min-content;
        overflow-x: visible;
    }
    .intro-img, .project-intro-img {
        grid-area: img;
        min-width: 300px;
        position: relative;
        left: -3.5em;
        z-index: -1;
    }
    .project-intro-img {
        left: .5em;
    }
    .intro .section-title {
        right: -0.75em;
    }
    .intro .section-title,
    .section-title-intro {
        text-align: left;
        position: relative;
        padding-top: 1.9em;
    }
    .intro .section-title-intro,
    .project-title-intro {
        right: 0;
    }
    .section-subtitle-intro {
       align-self: start; 
       text-align: left;
       position: relative;
       width: 70%;
       margin-right: 1.5em;
    }
    .web-dev {
        display: block;
    }
}

@media (min-width: 800px) {
    .section-subtitle-intro {
        width: 82%;
        margin-right: 0;
    }
    .web-dev {
        display: inline;
    }
}

/* About */
.about-me {
    background-color: var(--clr-light);
    color: var(--clr-dark);
}

.my-projects,
.about-me {
    padding: 3em 1.5em;
}

.about-container {
    margin: 0 auto;
    max-width: 1030px;
    align-self: center;
}
.section-title-about {
    color: var(--clr-dark-midnight);
}

.section-title-about::after { 
    content: '';
    display: block;
    width: 18%;
    height: 2px;
    margin: 0.2em 0 0;
    background: var(--clr-accent);
    opacity: 0.8;
}

.about-me-body {
    text-align: justify;
}


@media (min-width: 700px) {
    .about-me {
        margin-top: 5em; 
    }
    .section-title-about {
        text-align: left;
    }
    .about-me-body {
        padding-top: 1em;
    }
}

@media(min-width: 1024px) {
    .my-projects {
        padding: 3em 1em; 
    }
}

@media(min-width: 1200px) {
    .my-projects {
        padding: 3em 0; 
    }
}

/* My Projects */
.my-projects {
    max-width: 1030px;
    margin: 0 auto;
}
.section-title-projects::after {
    content: '';
    display: block;
    width: 18%;
    height: 2px;
    margin: .2em 0 0;
    background: var(--clr-accent);
    opacity: 0.8;
}
.portfolio {
    display: grid;
    justify-content: center;
    align-items: stretch;
    margin: 3em auto;
    padding: 1.5em 0;
    grid-template-columns: 1fr;
    gap: 1.5em;
}
.card {
    display: flex;
    flex-direction: column;
    background: var(--clr-light);
    color: var(--clr-dark);
    border-radius: 1em;
    border-bottom: 5px solid var(--clr-accent);
    text-align: center;
    box-shadow: var(--bs);
    overflow: hidden;
}
.card-body {
    padding: 1em; 
}
.card-footer {
    margin-top: auto;
    text-align: center;
    padding: 0 1em 1em;
}
.project-img {
    display: block;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: center;
    transition: transform 200ms ease-in-out;
}
.card-header:hover {
    transform: scale(1.1);
}
.project-title {
    color: var(--clr-dark-midnight);
    font-size: 1.4rem;
    margin-top: 0.7em;
}
.project-description {
    font-size: 1rem;
    text-align: justify;
    padding: 0 0.5em;
}
.technologies-list-card {
    text-align: center;
    color: var(--clr-dark-midnight);
    font-size: .9rem;
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.technologies-icons-container {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-bottom: 3em;
    
}
.tech-hogwarts-icons {
    margin-bottom: 2.1em;
}
.technologies-icons {
    width: 50px;
}
.python, .react, .js {
    width: 40px;
}
.sqlite {
    width: 72px
}
.css, .html, .flask {
    width: 44px;
}
.btn-project {
    color: var(--clr-dark-midnight);
    border: none;
}

@media (min-width: 500px) {
    .portfolio {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); 
    }

    .section-title-about::after {
        width: 10%;
    }

    .section-title-projects::after {
        width: 10%;
    }
}

/* Education and Skills */
.education-skills {
    background-color: var(--clr-dark);
    background-image: url(img/bg-edu-skills.jpg);
    background-size: cover;
    color: var(--clr-dark);
    padding: 3em 2em;
}
.education, .skills {
    margin: 0 auto;
    min-width: 300px;
    max-width: 550px;
}
.skills {
    padding: 3em 0;
}
.edu-list {
    margin-top: auto;
    padding: 0;
    display: inline-block;
    text-align: left;
    list-style-type: disc;
}
.edu-list li::marker {
    color: var(--clr-accent);
}
.edu-title, .skills-title {
    display: inline-block;
    color: var(--clr-accent);
    margin-bottom: 1.2em;
}

.edu-list .btn {
    display: block;
    width: max-content;
    padding: .3em 0;
    transition: 250ms ease-in-out;
    position: relative;
}

.edu-title::after, .skills-title::after {
    content: '';
    display: block;
    height: 2px;
    margin: .3em 0 1em;
    background: var(--clr-light);
    opacity: 0.8;
}
.skills-title::after {
    width: 38%;
}
.edu-title::after {
    width: 25%;
}
.course-title {
    color: var(--clr-light);
    font-weight: 600;
}
.edu-body {
    color: var(--clr-light);
}
.skills-names {
    margin: 0 0 1.2em;
    font-weight: 600;
    color: var(--clr-light);
}

.skills-names span {
    display: block;
    margin: 0 auto;
    max-height: 67px;
    max-width: 67px;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: #fff;
}

.skills-icons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    gap: 1.2em;
    justify-items: center;
    text-align: center;
}
.icons {
    display: block;
    width: 65px;
    margin: 0 auto .5em;
}

@media (min-width: 900px) {
    .edu-skills-container {
        display: flex;
        max-width: 1100px;
        margin: 0 auto;
    }
    .education, .skills {
        padding: 3em 1em;
    }
    .education + .skills {
        margin-left: 1.5em;
    }
    .skills-title {
        margin-left: 10px;
    }
}

/* Footer */
footer {
    background: var(--clr-dark);
    margin: 0 auto;
    text-align: center;
    padding: 1.5em 0 1.7em;
    color: var(--clr-accent);
}
footer a {
    color: inherit;
    text-decoration: none;
}
.footer-link {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--clr-light);
    border-radius: .7em; 
    padding: .1em .5em;
    transition: 200ms ease-in-out;
}
.footer-link:hover, .social-list-link:hover {
    transform: scale(1.1);
    color: var(--clr-accent);
}
.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0 0.5em 0;
    padding: 0;
}
.social-list-item {
    margin: 0 .3em;
}
.social-list-link {
    display: inline-block;
    padding: .8em .2em 0;
    font-size: var(--fs-h4);
}
    
/* Individual portfolio item styles */
.portfolio-body {
    padding: 0 1.2em 2em;
    margin: 0 auto;
    max-width: 1100px;
    text-align: justify;
}
.project-categories {
    font-size: var(--fs-h4);
    color: var(--clr-accent);
    text-align: center;
    margin-top: 1.7em;
}
.sources-list {
    margin: 0;
    padding-left: 0;
    text-align: center;
}
.sources-list li {
    display: block;
}
.project-skills-list li::marker, .technologies-list li::marker, .sources-list li::marker {
    color: var(--clr-accent);
}
.project-challenges-list li::marker {
    color: var(--clr-accent);
    font-weight: bold;
}
.challenges {
    font-weight: bold;
}
.project-skills {
    font-weight: bold;
}
.project-presentation-img {
    display: block;
    width: 100%;
    margin: 1em auto;
    border-bottom: 2px solid var(--clr-accent);
}
.small-img {
    width: 50%;
}
.project-source-code {
    font-size: var(--fs-h5);
    margin-bottom: 0.5em;
}
.source a {
    text-decoration: none;
    color: var(--clr-light);
    font-size: var(--fs-body);
    font-weight: 300;
    margin-left: 0.3em;
}

@media (min-width: 700px) {
    .project-categories {
        text-align: left;
    }
    .small-img {
        margin: 1em 0;
    }
    .sources-list {
        padding-left: 2.1em;
        text-align: left;
    }
    .sources-list li {
        display: list-item;
    }
    .project-description {
        font-size: var(--fs-body);
    }

    .project-title {
        font-size: 1.6rem;
    }
}

@media (min-width: 1700px) {
    .about-container, .edu-skills-container {
        max-width: 1200px;
    }
    .education, .skills {
        min-width: 400px;
        max-width: 600px;
    }
    .my-projects {
        max-width: 1300px;
    }
    .portfolio {
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    }
}

/* Hover effect */
@media (hover: hover) and (pointer: fine) {
    .btn:hover {
        transform: scale(1.1);
    }
    .edu-list .btn:hover::after {
        width: 100%;
    }
    .source a:hover {
        display: inline-block;
        transform: scale(1.1);
        font-weight: bold;
    }
}

/* Animation styles */
.initial-slide-left {
    transform: translateX(-100%);
    transition: transform 0.8s ease-out;
}
.initial-slide-right {
    transform: translateX(100%);
    transition: transform 0.8s ease-out;
}

@media (min-width: 900px) {
    .initial-slide-left {
        transform: translateX(-150%);
    }
    .initial-slide-right {
        transform: translateX(170%);
    }
}

@media (min-width: 1900px) {
    .initial-slide-left {
        transform: translateX(-200%);
    }
    .initial-slide-right {
        transform: translateX(250%);
    }
}
